$cardWidth: 107px;
$cardHeight: ($cardWidth * 3.5) / 2.5;
$bgWidth: ($cardWidth * 534) / 35;
$bgHeight: ($cardHeight * 188) / 47;

body {
  background-color: #35654d !important;
  text-align: center;
}

.game-card {
  display: inline-block;
  width: $cardWidth;
  height: $cardHeight;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.game-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);  
}

.game-card-back {
  background-position: 0 ($cardHeight * -1);
}

.game-card-front, .game-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./utils/8BitDeckAssets.png');
  background-size: $bgWidth $bgHeight;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(180deg);
}